
.buyMeal
    .ant-tabs-nav-scroll
        text-align center
    .ant-card-wider-padding .ant-card-body
        padding: 24px 0
    .listType>span 
        float right 
        margin-right 30px
    .innerBoxs
        position relative
        box-shadow: 0 0 32px rgba(60, 127, 208, 0.2)
        min-height 350px
        transition: all 0.3s ease;