.charge
    width: 1000px
    padding: 100px 0
    margin : 10px auto
    background-color :white
    .box
        width: 220px
        margin: 0 auto
        .tip
            overflow: hidden;
            margin-bottom: 30px;
            img
                width:50px
                display: inline-block
                float: left
            .success
                font-size: 22px;
                color: #757575;
                float: left;
                margin-left: 20px;
                margin-top: 6px;
                font-weight: bold;
        p
            font-size :15px
            color: #000
            span
                color: #f60;
                font-size: 16px;
                margin: 0 5px;
                font-weight: bold;
