.cabin
    width: 340px;
    .innerBox{
        transition :all .5s ease;
        &:hover{
            transform :translateY(-15px)
        }
        .ulbox{
            overflow: hidden
            padding-left :0
            .listType{
                &:nth-child(7),&:nth-child(8),&:nth-child(9){
                    width:100%
                }
                width: 50%
                float: left
                margin-left :0
            }
        }
    }

