.home
    h2
        line-height 40px
    .list
        padding 5px 0
        .name
            display inline-block
            width 100px
        .ip
            display inline-block
            width 120px