.aboutusbox
    .aboutpic
        width: 100%
    .adv
        padding: 40px 0
        background-color :white
        .container
            width:1200px
            margin 0 auto
            h2
                font-size: 28px
                color: #000
                text-align: center
                margin-bottom:20px
            .vicetit
                font-size: 15px
                color: #333
                line-height: 30px
                text-align: center
                width: 90%
                margin: 0 auto
            .cabin
                width: 100%
                overflow: hidden
                .bins
                    &:nth-child(1){
                        background:url("../../img/fuwu.png") no-repeat center;
                        background-size: 150px
                    }
                    &:nth-child(2){
                        background:url("../../img/shuju.png") no-repeat center;
                        background-size: 150px
                    }
                    &:nth-child(3){
                        background:url("../../img/dizhi.png") no-repeat center;
                        background-size: 150px
                    }
                    &:nth-child(4){
                        background:url("../../img/ipv6.png") no-repeat center;
                        background-size: 150px
                    }
                    text-align: center
                    width: 25%
                    height:146px
                    float: left
                    padding-top: 40px
                    margin: 40px 0;
                    span
                        font-size: 34px
                        font-weight: 500
                    p
                        font-size 14px
                        color: #666
