.footer 
    height 60px
    .left_nav
        border-bottom 1px solid #ccc  
        .ant-menu
            background transparent
            border-bottom none
            height 80px
            .ant-menu-item
                border 0
                vertical-align top
            .ant-menu-item-active,.ant-menu-item-selected
                color rgba(0, 0, 0, 0.65);
        .baseInfo
            width 180px
            padding 0
            margin-left: 50px
            
            p
                font-size 12px
                line-height 12px
    .remake
        // padding-top 20px
        font-size 12px
        text-align center
        line-height 14px