#root
    .header.ant-layout-header
        text-align right 
        // height auto
        // background transparent
        // background: url(http://pc.bitdaili.com/Home/img/bit/help_banner.png) center no-repeat
        // background-size: cover
        height 100px
        background #282C31
        position fixed
        left 0
        top 0
        z-index 1000
        width 100%
        .logo
            float left
            margin-top 28px
            width 136px

        .ant-menu
            background transparent
            border-bottom none
            height 100px
            padding 25px 0
            font-size 16px 
            .ant-menu-item.btn
                border-bottom 0
                .ant-btn
                    width 100px
                    height 35px
                    border-radius 18px 
            a
                color #fff
            