h2{
    font-size: 18px;
    color: #333;
    padding-left: 10px;
    border-left: 3px solid #00c1de;
    line-height: 42px;
    font-weight: normal;
    background-color: #e3e9e2;
    margin: 15px 0 0;
}
.checkAll{
    background:url("../../img/pick.png") no-repeat center;
    background-size: 100%;
}
.checkNone{
    background: none;
}
.active{
    background:url("../../img/pick.png") no-repeat center;
    background-size: 100%;
}
.refeepick{
    background:url("../../img/pick.png") no-repeat center;
    background-size: 100%;
}
.none{
    background: none;
}
.ant-modal-header{
    text-align: center;
}
.educeBin{
    width: 500px;
    .ant-modal-body{
        width: 100%;
        max-height: 500px;
        overflow: auto;
    }
    .educebox{
        &:last-child{
            border-bottom: none;
        }
        border-bottom: 1px solid #ccc;
        margin-bottom: 15px;
        padding-bottom: 15px;
        p{
            font-size: 14px;
            color: #000;
            margin-bottom: 0;
        }
    }
}
.expire{
    position: relative;
    padding-left: 20px;
    margin-left: 20px;
    cursor: pointer;
    input{
        &:focus{
            outline: none;
        }
        width: 18px;
        height: 18px;
        position: absolute;
        top: 1px;
        left: 0;
        cursor: pointer;
    }
}
.modifybin{
    input{
        &:focus{
            outline: none;
            border-color: #0b94e6;
        }
        width: 100%;
        height: 32px;
        font-size: 14px;
        color: #333;
        margin-bottom: 15px;
        display: inline-block;
        border: 1px solid #ccc;
        padding: 0 15px;
    }
    .mdfname{
        margin-bottom: 0;
        font-size: 14px;
        color: #000;
        font-weight: bold;
        line-height: 30px;
    }
    textarea{
        &:focus{
            outline: none;
            border-color: #0b94e6;
        }
        width:100% ;
        height: 70px;
        padding: 10px;
        font-size: 14px;
        color: #333;
        resize: none;
    }
}
.refeebox{
    .refeenames{
        font-size: 15px;
        color: #000;
        font-weight: bold;
        margin-bottom: 10px;
    }
    .retitle{
        margin: 0 0 10px 0;
        display: inline-block;
    }
    .refeemain{
        overflow: hidden;
        input{
            &:focus{
                outline: none;
                border-color: #0b94e6;
            }
            width: 80px;
            float: left;
            font-size: 14px;
            color: #000;
            border: 1px solid #ccc;
            margin-right: 30px;
            text-align: center;
        }
        .refeecabins{
            cursor: pointer;
            width: 120px;
            float: left;
            overflow: hidden;
            i{
                display: inline-block;
                float: left;
                width: 16px;
                height: 16px;
                border: 1px solid #ccc;
                margin-top: 3px;
                margin-right: 6px;
            }
            span{
                float: left;
                font-size: 14px;
                color: #000;
            }
        }
        .amount{
            width: 100%;
            float: left;
            margin-top: 15px;
            p{
                font-size: 15px;
                float: left;
                span{
                    color: #dc0201;
                    font-weight: bold;
                    font-size: 16px;
                }
            }
        }
    }
}
.onlineBin{
    ul{
        overflow: hidden;
        width: 100%;
        padding: 0;
        margin: 0;
        border: 1px solid #ccc;
        li{
            &:last-child{
                border-right: none;
            }
            list-style: none;
            width: 50%;
            float: left;
            text-align: center;
            line-height: 34px;
            border-right: 1px solid #ccc;
            display: inline-block;
            font-size: 14px;
            color: #000;
            font-weight: bold;
        }
    }
    .onlinebox{
        p{
            overflow: hidden;
            margin-bottom: 0;
            border-bottom: 1px solid #ccc;
            border-left: 1px solid #ccc;
            border-right: 1px solid #ccc;
            span{
                display: inline-block;
                width: 50%;
                font-size: 14px;
                line-height: 32px;
                color: #000;
                border-right: 1px solid #ccc;
                text-align: center;
            }
            .btn{
                &:hover{
                    background: #4fcaef;
                }
                &:focus{
                    outline: none;
                }
                display: inline-block;
                font-size: 14px;
                color: white;
                background: #12b4e4;
                padding: 0 10px;
                line-height: 24px;
                width: 88px;
                text-align: center;
                margin-left: 74px;
                border: none;
                cursor: pointer;
            }
        }
    }
}
.arrbox{
    background-color: white;
    width: 100%;
    padding: 20px;
    .pages{
        text-align: right;
        margin: 30px 0 10px 0;
    }
    .operate{
        margin-bottom: 16px;
        .btn{
            &:hover{
                background-color: #3eacef;
            }
            &:focus{
                outline: none;
            }
            font-size: 14px;
            color: #fff;
            display: inline-block;
            margin-right: 15px;
            background-color: #0b94e6;
            padding: 0 15px;
            line-height: 32px;
            border: none;
            cursor: pointer;
        }
    }
    table{
        width: 100%;
        thead{
            background-color: #eee;
            th{
                line-height: 38px;
            }
        }
        tbody{
            tr{
                &:hover{
                    background-color: #fafafa;
                }
            }
        }
        td,th{
            border: 1px solid #ccc;
            text-align: center;
            .btn{
                &:focus{
                    outline: none;
                }
                &:first-child{
                    &:hover{
                        background-color: #39aaef;
                    }
                    background-color: #0b94e6;
                }
                &:last-child{
                    &:hover{
                        background-color: #ff7600;
                    }
                    background-color: #ff5e00;
                }
                font-size: 14px;
                color: #fff;
                display: inline-block;
                line-height: 24px;
                padding: 0 8px;
                margin: 0 5px;
                border: none;
                cursor: pointer;
            }
        }
        p{
            margin-bottom: 0;
        }
    }
    .bg_normal{
        background-color: #fff;
    }
    .bg_soon{
        background-color: #fffbde;
    }
    .bg_done{
        background-color: #f5dbdb;
    }
    .status{
        width: 140px;
        span{
            &.normal{
                background-color: #19be6b;
            }
            &.soon{
                background-color: orange;
            }
            &.done{
                background-color:#dc0201;
            }
            display: inline-block;
            font-size: 14px;
            color: #fff;
            width: 90px;
            text-align: center;
            line-height: 26px;
            border-radius: 12px;
        }
    }
}
.select{
    width: 100%;
    background-color: #ffe1c8;
    padding: 10px 15px;
    .inp{
        &:focus{
            outline: none;
            border-color: #0b94e6;
        }
        width: 160px;
        height: 32px;
        display: inline-block;
        border: 1px solid #ccc;
        padding: 0 15px;
        font-size: 14px;
        color: #000;
        line-height: 32px;
        margin-right: 20px;
    }
    .search{
        &:hover{
            background-color: #45b4f7;
        }
        &:focus{
            outline: none;
        }
        font-size: 14px;
        color: #fff;
        background-color: #0b94e6;
        display: inline-block;
        line-height: 30px;
        padding: 0 15px;
        margin-left: 20px;
        border: none;
        cursor: pointer;
    }
}













